
h1{
    font-family: Montserrat;
    font-weight: 900;
    text-align: center;
}
h2{
    font-family: Montserrat;
    font-weight: bold;
}
p{
    font-family: Montserrat;
    font-weight: lighter;
}
.me_photo{
    width: 50vw;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider{
    display: flex;
    margin-top: 20px;
    width: 500px;
    overflow-x: hidden;
}

.slider__inner {
    display: flex;
    width: 3000px;
    position: relative;
    right: 0px;
    transition: right 0.5s ease-in-out;
}

.slider__item {
    flex: none;
    width: 500px;
    height: 500px;
}
.slider__item_1{
    background-image: url("../img/1.png");
}
.slider__item_2{
    background-image: url("../img/2.png");
}
.slider__item_3{
    background-image: url("../img/3.png");
}
.slider__item_4{
    background-image: url("../img/4.png");
}
.slider__item_5{
    background-image: url("../img/5.png");
}
.slider__item_6{
    background-image: url("../img/6.png");
}

.slider__buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 500px;
}
.slider__btn{
    width: 96px;
    height: 96px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slider__btn_prev {
    background-image: url("../img/arrow.png");
    background-size: cover;
    transform: rotate(180deg);
}
.slider__btn_next {
    background-image: url("../img/arrow.png");
    background-size: cover;
}